*{
    padding: 0%;
    margin: 0% ;
}
body{
    font-size: 14px;
    line-height: 24px;
    font-family: ;
}
h1, h2, h3, h4, h5, h6{
    font-family: ;
}
a, a:hover{
    text-decoration: none;
}

.header-section{
    width: 100%;
}
 .header-section.bg-light {
    /* background-color: #f8f9fa!important; */
    background: transparent!important;
}
.top-header {
    width: 100%;
    background: #192330;
    margin: -8px 0px;
}
.top-header ul {
    width: 100%;
    display: block;
    margin: 15px;
}
.top-header ul li{
    list-style: none;
    display: inline-block;
}
.top-header ul li a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-right: 7px;
    color: #ababab;
    text-decoration: none;
    transition: 1s;
}

.top-header ul li a:hover, .top-header ul li a:focus{
    color: #31aae2;
}
.top-header ul li .fa {
    margin-right: 10px;
    font-size: 20px;
}

.social-icons {
    width: 100%;
    display: block;
    margin-left: 101px;
}

.social-icons li{
    list-style: none;
    display: inline-block;
}
.social-icons li a{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 20px;
    color: #31aae2;
    transition: 2s;
}

.social-icons li a:hover, .social-icons li a:focus{
    color: #31aae2; 
}
.main-menu{
    width: 100%;
    padding:15px 0px;
}
.main-menu.bg-light {
    background-color: transparent!important;
}

.main-menu .navbar-light .navbar-nav .nav-link.active {
    color: #00adff;
    font-size: 17px;
    font-weight: 700;
}
.main-menu .navbar-light .navbar-nav .nav-link {
    color: #506a85;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 17px;
}
 .main-menu .navbar-light .navbar-nav .nav-link:hover,  .main-menu .navbar-light .navbar-nav .nav-link:focus{
     color: #00adff;
 }
 @media (min-width: 992px)
 .navbar-expand-lg .navbar-nav {
     flex-direction: row;
     padding-top: 10px;
 }
 
 
 /* slider start */

.slider{
    width: 100%;
}
.slider .carousel-caption{
    bottom: 18%;
}
.slider .carousel-inner h2 {
    font-size: 41px;
    line-height: 51px;
    font-weight: 600;
    letter-spacing: 8px;
    text-transform: capitalize;
    padding: 10px 0px;
    text-align: left;
}

.slider .carousel-inner p{
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
    text-align: left;
}
.slider .carousel-inner h6{
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
    text-align: left;
}
.slider .carousel-inner .btn-info {
    background: transparent;
    transition: 1s;
    color: #fff;
    padding: 10px 45px;
    margin-left: -738px;
}
.slider .carousel-inner .btn-info:hover, .slider .carousel-inner .btn-info:focus{
    color: rgb(40, 233, 191);
    background: #00bc9c;
    border: 1px solid #00bc9c;
}
/* slider end */

/* style start */

.style{
    width: 100%;
    padding: 40px 0px;
}
.style .inner-style{
    width: 100%;
    text-align: center;
}
.style .inner-style h1 {
    font-size: 35px;
    line-height: 45px;
    color: #444444;
    font-weight: 400;
    padding-bottom: 30px;
}
.style .inner-style span {
    color: #009688;
}
.style .inner-style p {
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    padding-bottom: 100px;
}
.style .inner-pic img{
    width: 90%;
}
/* style end */

/* service start */
.service{
    width: 100%;
    padding-bottom: 180px 0px;
    background: #fafafa;
}
.service .inner-service {
    width: 100%;
    text-align: center;
    padding: 100px 16px;
}
.service .inner-service h3 {
    font-size: 21px;
    line-height: 34px;
    color: #444444;
    font-weight: 800;
    padding: 10px 0px;
}
.service .inner-service p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #999999;
    padding-top: 20px;
}
/* service end */

/* history section start */

.history-section{
    width: 100%;
    padding: 80px 0px;
}
.history-section .inner-history{
    width: 100%;
}
.history-section .inner-history h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-left: 100px;
}
.history-section .inner-history p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    margin-left: 100px;
    padding: 30px 0px;
}
.history-section .inner-history .btn-info {
    background: transparent;
    transition: 1s;
    color: rgb(173 148 148);
    padding: 10px 45px;
    margin-left: 100px;
}
.history-section  .inner-history .btn-info:hover, .history-section .inner-history.btn-info:focus{
    color: rgb(40, 233, 191);
    background: #00bc9c;
    border: 1px solid rgb(173 148 148);
}

.inner-pic img, svg {
    vertical-align: middle;
    width: 65%;
    margin-left: 70px;
    margin-top: 20px;
}
/* history end */

/* contain start */
.contain {
    width: 100%;
    padding:50px 0px;
    background: black;
}
.contain .inner-contain{
    width: 100%;
    padding: 10px 0px;
}
.contain .inner-contain h2 {
    color: #fff;
    font-size: 28px;
    line-height: 38px;
}
.contain .inner-contain p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
.contain .btn-info {
    background: transparent;
    transition: 1s;
    color: rgb(173 148 148);
    padding: 10px 45px;
    margin-left: 100px;
    margin-top: 50px;
}
.contain .btn-info:hover, .contain.btn-info:focus{
    color: rgb(40, 233, 191);
    background: #00bc9c;
    border: 1px solid rgb(173 148 148);
}
/* contain end */

/* footer start */
.footer{
    width: 100%;
    padding: 20px 0px;
    background: #192330;
}
.main-footer {
    width: 100%;
    padding-top: 30px;
}
.footer-icons{
    width: 100%;
    display: block;
    margin-left: 101px;
}

.footer-icons li{
    list-style: none;
    display: inline-block;
}
.footer .main-footer .footer-icons li .fa {
    margin: 0px 40px;
    font-size: 30px;
    border: 1px solid #454648;
    border-radius: 50%;
    padding: 14px;
    color: #454648;
}
.footer-icons li a{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 20px;
    color: #31aae2;
    transition: 2s;
}
.footer-icons ul li a :hover{
    color: chartreuse;
}

.inner-footer-icons {
    width: 100%;
    display: block;
    margin-left: -50px;
    margin-top: 70px;
}

.inner-footer-icons li{
    list-style: none;
    display: inline-block;
}
.inner-footer-icons li a{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 20px;
    color: #969595;
    transition: 1s;
    text-decoration: none;
}

.inner-footer-icons li a:hover, .inner-footer-icons li a:focus{
    color: #31aae2; 
}
.inner-footer-text h3 {
    color: #969595;
    margin-left: 418px;
    transition: 1s;
    font-size: 19px;
    line-height: 30px;
    margin-top: 70px;
}
.inner-footer-text h3:hover, .inner-footer-text h3:focus{
    color: #31aae2; 
}
/* footer end */